__pycache__/
*.py[cod]
*.pyc
*$py.class
.env
.env.prod
.env.preprod
.venv
venv/
ENV/
env/
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.log
mongodb_data/
.vite/
frontend/node_modules/
frontend/build/
frontend/dist/
